.scroller-container {
    display: flex;
    height: 44rem;
    gap: 20px;
    overflow: hidden;
}
.column {
    overflow: hidden;
    position: relative;
    flex: 1;
}

.scrolling-track {
    display: flex;
    flex-direction: column;
    animation-iteration-count: infinite;
    gap: 30px;
    animation-timing-function: linear;
    height: fit-content;
    animation-duration: 8s;
}
.top-to-bottom .scrolling-track {
    animation-name: scroll-down;
}

.bottom-to-top .scrolling-track {
    animation-name: scroll-up;
}

@keyframes scroll-down {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-50%);
    }
}
@keyframes scroll-up {
    0% {
        transform: translateY(-50%);
    }
    100% {
        transform: translateY(0);
    }
}

.img1 {
    width: 100%;
    height: auto;
    min-height: 150px;
    object-fit: cover;  
    border-radius: 16px;
}

.mobile-scroller {
    display: none;
    overflow: hidden;
    height: 200px;
    position: relative;
}
.mobile-scrolling-track {
    display: flex;
    flex-direction: row;
    gap: 20px;
    animation: scroll-horizontal 12s linear infinite;
    height: 100%;
    align-items: center;
}
.mobile-img {
    min-width: 250px;
    height: 160px;
    object-fit: cover;
    border-radius: 16px;
    flex-shrink: 0;
}

@keyframes scroll-horizontal {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}
@media (max-width: 768px) {
    .scroller-container {
        display: none;
    }
    .mobile-scroller {
        display: block;
    }
}
@media (max-width: 480px) {
    .mobile-img {
        min-width: 136px;
    }
    .mobile-scroller {
        height: 160px;
        max-width: 95vw;
    }
    .mobile-scrolling-track {
        gap: 15px;
    }
}